<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleLogin.css') }}">
    <title>Costelinha Barber Shop</title>
</head>

<body>
    <img src="static/costelinhapng.png" alt="Logo da Barbearia">

    <div class="container" id="main">
        <div class="cadastro">
            <form action="includes/processa_agendamento.inc.php" method="POST">
                <!-- Formulário de cadastro, se necessário -->
            </form>
        </div>

        <div class="login">
            <form action="includes/processa_agendamento.inc.php" method="POST">
                <h1>Agendamento</h1>
                <p>Agende seu horário</p>
                
                <div class="form-group">
                    <label for="profissional">Barbeiro:</label>
                    <select name="profissional" id="profissional" class="select">
                        <option value="" disabled selected>Selecione um Barbeiro</option>
                        <!-- Adicione as opções de barbeiros aqui -->
                    </select>
                </div>

                <div class="form-group">
                    <label for="tipo_servico">Serviço:</label>
                    <select name="tipo_servico" id="tipo_servico" class="select">
                        <option value="" disabled selected>Selecione um Serviço</option>
                        <option value="Sobrancelhas">Sobrancelhas -- R$5,00</option> 
                        <option value="Barba">Barba -- R$20,00</option> 
                        <option value="Corte">Corte -- R$25,00</option> 
                        <option value="Corte + Sobrancelhas">Corte + Sobrancelhas -- R$30,00</option> 
                        <option value="Corte + Sobrancelhas + Barba">Corte + Sobrancelhas + Barba -- R$50,00</option> 
                        <option value="Reflexo alinhado (Corte incluso)">Reflexo alinhado (Corte incluso) -- R$60,00</option>  
                        <option value="Platinado (Corte incluso)">Platinado (Corte incluso) -- R$75,00</option> 
                        <!-- Adicione mais tipos de serviço conforme necessário -->
                    </select>
                </div>

                <div class="form-group">
                    <label for="data">Data:</label>
                    <input type="date" name="data" id="data" class="select">
                </div>
                
                <div class="form-group">
                    <label for="hora">Hora:</label>
                    <select name="hora" id="hora" disabled class="select">
                        <option value="">Selecione uma hora</option>
                    
                    </select>
                </div>
                
                <button name="Entrar">Agendar</button>
                <a href="{{ url_for('logout') }}" class="logout-link">Sair</a>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-esquerda">
                    <h1>Agendar</h1>
                    <p>Agende seu Horário</p>
                    <button id="agendar"> Agendar </button>
                </div>
                <div class="overlay-direita">
                    <h1>Olá Amigo!</h1>
                    <p>Veja os seus Horários</p>
                    <button id="horarios"> Horarios </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
