<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <title>Costelinha Barber Shop</title>
</head>

<body>
    <header>
        <div class="wrapHead">
            <div id="brand">
            </div>
            <nav>
                <ul>
                    <li><a href="#home" class="scroll">Home</a></li>
                    <li><a href="#about" class="scroll">About</a></li>
                    <li><a href="#contact" class="scroll">Contact</a></li>
                    <li><a href="#pricing" class="scroll">Pricing</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="home">
        <div class="container">
            <div class="row">
                <div class="column-66">
                    <h1 class="xlarge-font">Bem-vindo à Urban Barber Shop!</h1>
                    <br> <br><br> <br><br> <br>
                    <p class="large-font">Aqui, oferecemos mais do que um corte, oferecemos estilo, confiança e uma experiência única. Venha nos visitar e sinta a diferença no atendimento e no cuidado com cada detalhe.</p>
                    <br> <br><br> 
                    <button class="button">Agendar</button>
                    <br> <br>
                    <p>Estamos abertos das 09:00 às 20:00 de segunda a sexta e das 09:00 às 16:00 aos sábados.</p>
                </div>
                <div class="column-33">
                    <br> <br><br> <br><br> <br>
                    <div class="image-container">
                        <!-- Coloque a imagem desejada aqui -->
                        <img src="../static/b2.jpg" alt="Imagem da barbearia">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="servicos" id="about">
        <h2>Serviços</h2>
        <div class="servicos-container">
            <div class="coluna-servicos">
                <ul class="servicos-lista">
                    <li class="servico-item">
                        <span class="servico-nome">Corte Tesoura</span>
                        <span class="servico-preco">R$ 70,00</span>
                    </li>
                    <li class="servico-item">
                        <span class="servico-nome">Corte Máquina</span>
                        <span class="servico-preco">R$ 60,00</span>
                    </li>
                    <li class="servico-item">
                        <span class="servico-nome">Corte Kids (Até 12 anos)</span>
                        <span class="servico-preco">R$ 65,00</span>
                    </li>
                    <li class="servico-item">
                        <span class="servico-nome">Barba COM toalha quente</span>
                        <span class="servico-preco">R$ 60,00</span>
                    </li>
                    <li class="servico-item">
                        <span class="servico-nome">Barba SEM toalha quente</span>
                        <span class="servico-preco">R$ 55,00</span>
                    </li>
                    <li class="servico-item">
                        <span class="servico-nome">Corte Tesoura + Barba</span>
                        <span class="servico-preco">R$ 130,00</span>
                    </li>
                    <li class="servico-item">
                        <span class="servico-nome">Corte Máquina + Barba</span>
                        <span class="servico-preco">R$ 120,00</span>
                    </li>
                    <li class="servico-item">
                        <span class="servico-nome">Sobrancelha com Navalha</span>
                        <span class="servico-preco">R$ 25,00</span>
                    </li>
                </ul>
            </div>
            <div class="coluna-servicos">
                <ul class="servicos-lista">
                    
                    <li class="servico-item">
                        <span class="servico-nome">Higienização de Ouvido e Nariz</span>
                        <span class="servico-preco">R$ 35,00</span>
                    </li>
                    <li class="servico-item">
                        <span class="servico-nome">Tonalização Cabelo ou Barba</span>
                        <span class="servico-preco">R$ 60,00</span>
                    </li>
                    <li class="servico-item">
                        <span class="servico-nome">Argilo Terapia Cabelo ou Barba</span>
                        <span class="servico-preco">R$ 50,00</span>
                    </li>
                    <li class="servico-item">
                        <span class="servico-nome">Hidratação Cabelo</span>
                        <span class="servico-preco">R$ 30,00</span>
                    </li>
                    <li class="servico-item">
                        <span class="servico-nome">Acabamento Cabelo</span>
                        <span class="servico-preco">R$ 25,00</span>
                    </li>
                    <li class="servico-item">
                        <span class="servico-nome">Lavar e Finalizar o Cabelo</span>
                        <span class="servico-preco">R$ 20,00</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
    <section id="contact">
        <h2>Contact</h2>
    </section>
    <section id="pricing">
        <h2>Pricing</h2>
    </section>
</body>

<script>
    $(document).ready(function(){
        var docEl = $(document),
            headerEl = $('header'),
            headerWrapEl = $('.wrapHead'),
            navEl = $('nav'),
            linkScroll = $('.scroll');

        docEl.on('scroll', function(){
            if ( docEl.scrollTop() > 60 ){
                headerEl.addClass('fixed-to-top');
                headerWrapEl.addClass('fixed-to-top');
                navEl.addClass('fixed-to-top');
            }
            else {
                headerEl.removeClass('fixed-to-top');
                headerWrapEl.removeClass('fixed-to-top');
                navEl.removeClass('fixed-to-top');
            }
        });

        linkScroll.click(function(e){
            e.preventDefault();
            $('body, html').animate({
                scrollTop: $(this.hash).offset().top
            }, 500);
        });
    });
</script>
</html>
